name: Publish package to GitHub Packages

on:
  release:
    branches: 'main'
    types: [ published ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: pnpm/action-setup@v4.2.0
        name: Install pnpm
        with:
          version: 10.28.1
          run_install: false
      - uses: actions/setup-node@v6.2.0
        with:
          node-version: 25.4.0
          cache: pnpm
          registry-url: https://registry.npmjs.org
      - run: pnpm install --no-frozen-lockfile
      - run: pnpm publish --provenance --access public --no-git-checks