name: Publish package to GitHub Packages

on:
  release:
    branches: 'main'
    types: [ published ]

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: pnpm/action-setup@v4.2.0
        name: Install pnpm
        with:
          version: 10.25.0
          run_install: false
      - uses: actions/setup-node@v6.1.0
        with:
          node-version: 25.2.1
          cache: pnpm
          registry-url: https://registry.npmjs.org
      - run: pnpm install --no-frozen-lockfile
      - run: pnpm publish --access public --no-git-checks